{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% load static %}
{% block head %}

     <link rel="stylesheet" href="{% static 'css/reserve.css' %}">
    {% block title %}
        <title>Table Reservation</title>
    {% endblock title %}
{% endblock head %}
</head>

{% block content %}
    <h1 class="text-center mt-5">Reserve your Table</h1>

    <div class="container">
        <form action="." method="post">
            {% csrf_token %}
        <div class="row justify-content-evenly">
            <div class="col-md-4">
                <div class="mt-4 mb-3">
{#                    <label class="form-label" for="inputText">Name:</label>#}
{#                    <input type="text" class="form-control" id="inputText" placeholder="Full name">#}
                    {{ form.full_name|as_crispy_field }}

                </div>
            </div>
            <div class="col-md-4">
                <div class="mt-4 mb-3">
{#                    <label class="form-label" for="inputText">Persons:</label>#}
{#                    <input type="number" class="form-control" id="inputText" placeholder="ex: 08">#}
                    {{ form.table|as_crispy_field  }}
                </div>
            </div>
        </div>
        <div class="row justify-content-evenly">
            <div class="col-md-4">
                <div class="mt-4 mb-3">
{#                    <label class="form-label" for="inputEmail">Email:</label>#}
{#                    <input type="email" class="form-control" id="inputEmail" placeholder="Enter your email">#}
                      {{ form.booking_date|as_crispy_field  }}
                </div>
            </div>
            <div class="col-md-4">
                <div class="mt-4 mb-3">
{#                    <label class="form-label" for="inputText">Phone no:</label>#}
{#                    <input type="tel" class="form-control" id="inputText" placeholder="ex: +33300111222">#}
                      {{ form.start_time|as_crispy_field  }}
                </div>
            </div>
        </div>
{#        <div class="row justify-content-evenly">#}
{#            <div class="col-md-4">#}
{#                <div class="mt-4 mb-3">#}
{#                    <label class="form-label" for="inputText">Children:</label>#}
{#                    <input type="number" class="form-control" id="inputText" placeholder="ex: 02">#}
{#                </div>#}
{#            </div>#}
{#            <div class="col-md-4">#}
{#                <div class="mt-4 mb-3">#}
{#                    <label class="form-label" for="inputText">No. of table:</label>#}
{#                    <input type="number" class="form-control" id="inputText" placeholder="ex: 01">#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#        <div class="row justify-content-evenly">#}
{#            <div class="col-md-4">#}
{#                <div class="mt-4 mb-3">#}
{#                    <label class="form-label" for="inputText">Date:</label>#}
{#                    <input type="date" class="form-control" id="inputText" placeholder="ex: dd-mm-yyyy">#}
{#                </div>#}
{#            </div>#}
{#            <div class="col-md-4">#}
{#                <div class="mt-4 mb-3">#}
{#                    <label class="form-label" for="inputText">Time:</label>#}
{#                    <input type="time" class="form-control" id="inputText" placeholder="ex: 01:30 pm">#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#        <div class="row justify-content-center">#}
{#            <div class="col-md-8">#}
{#                <div class="mt-4 mb-3">#}
{#                    <label class="form-label" for="exampleFormControlTextarea1">Special Instructions</label>#}
{#                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Type Here..."></textarea>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
        <div class="center mt-4">
            <button id="res-btn" type="submit" class="btn">Reserve Now</button>
        </div>
        </form>
    </div>
    <h2>
        Our Environment
    </h2>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quod fugit a ducimus quam odio? Eveniet, cupiditate
        eligendi ipsam vitae nisi beatae atque commodi ab odit aspernatur ducimus dolore dicta ad quisquam excepturi
        ipsa, similique cumque minima! Veritatis ab laudantium aliquid non ex dolorem, deserunt numquam excepturi sequi
        mollitia ducimus nam dolor sapiente, obcaecati iusto beatae! Lorem ipsum dolor sit amet consectetur adipisicing
        elit. Necessitatibus enim expedita animi veniam perferendis fugiat quo quas illum impedit. Blanditiis
        repellendus obcaecati labore? Quas autem earum sit explicabo eligendi nihil, iure beatae numquam corporis sequi
        odit omnis animi qui laudantium totam ducimus facere? Nisi dolorum perferendis repellendus voluptas, ratione quo
        odit, delectus nam odio distinctio exercitationem quae minima. Earum, voluptatem aliquam. In blanditiis ea nobis
        adipisci accusantium consequuntur earum. Ipsum distinctio quam in ab culpa. Ea, excepturi delectus aperiam ipsa
        culpa, iusto distinctio eligendi asperiores voluptatem corrupti incidunt repudiandae praesentium quibusdam
        corporis eius aut natus enim architecto, exercitationem vel! Cumque!</p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quod fugit a ducimus quam odio? Eveniet, cupiditate
        eligendi ipsam vitae nisi beatae atque commodi ab odit aspernatur ducimus dolore dicta ad quisquam excepturi
        ipsa, similique cumque minima! Veritatis ab laudantium aliquid non ex dolorem, deserunt numquam excepturi sequi
        mollitia ducimus nam dolor sapiente, obcaecati iusto beatae! Lorem ipsum dolor sit amet consectetur adipisicing
        elit. Necessitatibus enim expedita animi veniam perferendis fugiat quo quas illum impedit.</p>

    <div class="row">
        <div class="col-md-4">
            <div class="con1">
            </div>
        </div>
        <div class="col-md-8">
            <div class="con2">

            </div>
        </div>
        <div class="col-md-12">
            <div class="con3">

            </div>
        </div>
    </div>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quod fugit a ducimus quam odio? Eveniet, cupiditate
        eligendi ipsam vitae nisi beatae atque commodi ab odit aspernatur ducimus dolore dicta ad quisquam excepturi
        ipsa, similique cumque minima! Veritatis ab laudantium aliquid non ex dolorem, deserunt numquam excepturi sequi
        mollitia ducimus nam dolor sapiente, obcaecati iusto beatae! Lorem ipsum dolor sit amet consectetur adipisicing
        elit. Necessitatibus enim expedita animi veniam perferendis fugiat quo quas illum impedit. Blanditiis
        repellendus obcaecati labore? Quas autem earum sit explicabo eligendi nihil, iure beatae numquam corporis sequi
        odit omnis animi qui laudantium totam ducimus facere? Nisi dolorum perferendis repellendus voluptas, ratione quo
        odit, delectus nam odio distinctio exercitationem quae minima. Earum, voluptatem aliquam. In blanditiis ea nobis
        adipisci accusantium consequuntur earum. Ipsum distinctio quam in ab culpa. Ea, excepturi delectus aperiam ipsa
        culpa, iusto distinctio eligendi asperiores voluptatem corrupti incidunt repudiandae praesentium quibusdam
        corporis eius aut natus enim architecto, exercitationem vel! Cumque!</p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quod fugit a ducimus quam odio? Eveniet, cupiditate
        eligendi ipsam vitae nisi beatae atque commodi ab odit aspernatur ducimus dolore dicta ad quisquam excepturi
        ipsa, similique cumque minima! Veritatis ab laudantium aliquid non ex dolorem, deserunt numquam excepturi sequi
        mollitia ducimus nam dolor sapiente, obcaecati iusto beatae! Lorem ipsum dolor sit amet consectetur adipisicing
        elit. Necessitatibus enim expedita animi veniam perferendis fugiat quo quas illum impedit. Lorem ipsum dolor sit
        amet consectetur adipisicing elit. Fuga non temporibus quos reiciendis aliquam optio doloribus libero ullam
        corrupti, ab porro facere earum perferendis voluptates ipsa ad animi voluptas. Odit, explicabo. Consectetur, rem
        aliquid sapiente tempore error, dolorem voluptatum quaerat cumque atque vel pariatur nisi minus culpa expedita,
        quo dolores? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam voluptatem, odit amet modi nulla a
        porro tempore neque vero at aperiam deleniti ratione sequi illum itaque dignissimos mollitia aliquam distinctio
        odio corrupti ab. Amet, voluptatum omnis ex id excepturi facere quia, laudantium libero optio magnam hic rerum.
        Repellendus reprehenderit esse pariatur, in labore consectetur distinctio reiciendis at accusamus eveniet
        maxime, vero cupiditate earum odio ut? Inventore tempore ullam velit tempora eaque vero voluptatum perferendis
        ipsum repellendus distinctio fuga iure saepe ducimus, repudiandae facilis necessitatibus atque repellat.
        Repellat, velit suscipit ipsa iste adipisci sapiente. Dignissimos in incidunt, quibusdam sit ut dolores.</p>


{% endblock content %}